[Desktop Entry]
Name=Rust Music Player Lite
GenericName=Music Player
Comment=Um player de música simples e leve feito em Rust com egui.
Exec=rust-music-player-lite
Terminal=false
Type=Application
Categories=Audio;Music;Player;